.career {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 12px 27px;
    z-index: 1;
  }
  .career .content{
    margin: 0 105px;
    animation: fadeIn 0.6s both;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translatey(40px);
    }
    100% {
      opacity: 1;
    }
  }
  .career .text{
    font-weight: 400;
    
  }
  .social-links {
    margin: 0 105px;
  }

  @media screen and (max-width: 1024px) {
    .career {
      margin: 50px 0;
    }
    .career .content {
      margin: 0 50px;
    }
    .career .social-links {
      margin: 0 50px;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .career {
      margin: 0 40px;
    }
  }

  @media screen and (max-width: 425px){
    .career {
      margin: 0;
    }
    .career .content {
      margin: 0 22px;
    }
    .career .social-links {
      margin: 0 22px;
    }
  }
