.career {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 110px 210px;
    z-index: 1;
  }
  .career .content{
    margin: 0 13px;
  }
  .career .text{
    font-weight: 700;
    
  }
  .career .text.animate{
    opacity: 1;
    transform: translateX(0);
    animation-name: animate;
    animation-duration: 2s;
  }

  @keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-25vw);
    }
    50% {
        opacity: 0;
        transform: translateY(-10vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @media screen and (max-width: 1024px) {
    .career {
      margin: 80px 60px;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .career {
        margin: 40px;
    }
  }

  @media screen and (max-width: 425px){
    .career {
      margin: 0;
    }
  }
