
.about{
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about::after{
  content: "Qui suis-je?";
  color: #c3c2c22b;
  font-family: 'Monserrat', sans-serif;
  font-weight: 900;
  font-size: 120px;
  position: absolute;
  top: 4%;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.about p{
  margin-top: 24px;
}
.about h2{
  color: #9f70fd;
  z-index: 3;
}
.about a{
  margin-top: 10px;
  text-decoration: underline;
}
.intro-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 0 40px;
}
.intro-about img{
  background-color: #EEEEEE;
  border-radius: 50%;
  object-fit: cover;
  width: 295px;
  height: 295px;
  box-shadow: 3px 3px 3px #252a3482;
}


.skills {
  display: flex;
  flex-direction: column;
  margin: 0 37px;

}

.skills h3{
  margin: 55px 0;
  text-align: center;
}

.skills h4 {
  height: 50px;
  color: #4D4D4D;
}
.skills p{
  margin-left: 52px;
}

.skills .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 82px;
  column-gap: 52px;
  margin: 0 90px;
}
.skills .content > li {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 57px auto;
  justify-items: start;
  align-items: start;
}
.skills .content.textL {
  transform: translateX(-100vw);
  opacity: 0;
}
.skills .content.textR {
  transform: translateX(100vw);
  opacity: 0;
}

.skills .content.textL.animateL {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s;
}
.skills .content.textR.animateR {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s;
}
.skills-title {
  display: grid;
  grid-template-columns: 1fr 270px;
  gap: 10px;
  position: relative;
  z-index: 0;
}
.skills-title::after{
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  top: 14px;
  z-index: -1;
  height: 7px;
  width: 80%;
  right: -1%;
}

.skills-title::after{
  background: #FF8911;
}

.cv p{
  margin-top: 10px;
  font-weight: 700;

}

@media screen and (max-width: 1024px) {
  .about::after {
    margin: 30px 70px;
    font-size: 90px;
    top: 3%;
  }
}

@media screen and (max-width: 768px) {
  .about::after {
    margin: 58px 70px;
    font-size: 65px;
    top: 4%;
  }
  .intro-about img{
    width: 180px;
    height: 180px;
  
  }
  .skills .content{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .skills .content > li {
    width: 356px;
  }
}

@media screen and (max-width: 425px){
  .about {
    padding: 69px 50px
  }
  .about::after {
    margin: 0 42px;
    font-size: 45px;
    top: 7%;
  }
  .skills h3 {
    font-size: 1.4rem;
  }
  .skills span {
    font-size: 1.4rem;
  }
  .skills .content {
    margin: 0 10px;
    row-gap: 40px ;
  }
  .skills p {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .skills h4 {
    font-size: 1rem;
  }
  .skills-title {
    gap: 20px;
  }
  .skills-title svg {
    width: 30px;
    height: 30px;
  }
  .cv p{
    font-size: 0.8rem;
  }
}