.card-container {
    width: 100%;
    position: relative;
}

.background-card{
    width: 100%;
    height: 330px;
    border-radius: 17px;
    object-fit: cover;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    box-shadow: 3px 3px 3px #252a3482;
}
.background-card.active {
    width: 100%;
    height: 330px;
    border-radius: 17px;
    object-fit: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    box-shadow: 3px 3px 3px #252a3482;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.card.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.card h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #FF8911;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.card-footer {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}
.card-open {
    display: grid;
    align-items: center;
    grid-template-areas: 'heading heading';
    grid-template-columns: 1fr 51px;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 15px;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
}
.card-heading {
    width: 100%;
    height: 60px;
    padding: 15px;
    grid-area: heading;
}

.list-tools {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.list-tools li {
    padding: 0.3rem 0.4rem;
    background-color: rgb(37, 42, 52, 0.8);
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    color: #EAEAEA;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 3px 3px 3px #252a3482;
}

.icon-container {
    display: none;
    width: 30px;
    color: #4d4d4d;
    transform: scale(1);
    transform: rotate(0deg);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}
.icon-container:hover {
    color: #FF8911;
    transform: scale(1.2);
}

.icon-container.active {
    color: #FF8911;
    transform: rotate(45deg) ;
}
.icon-container.active:hover {
    transform: rotate(45deg) scale(1.2);

}
.actionBtn{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.action-btn.active{
    padding: 2px 6px;
    border-radius: 50%;
    color: #EEEEEE;
    background: rgb(37, 42, 52, 0.8);
    box-shadow: 3px 3px 3px #252a3482;;
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);

}
.action-btn.active:hover{
    transform: scale(1.2);

}

.action-btn-floating {
    bottom:10px;
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltipText{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #EEEEEE;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 1024px) {
    .icon-container {
        display: block;
    }
    .card-footer {
        grid-template-columns: 1fr 51px;
    }
    .action-btn.active{
        width: 30px;
        height: 30px;
        padding: 2px 6px;
        border-radius: 50%;
        color: #EEEEEE;
        background: #4d4d4d;
        transform: scale(1);
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0,0,.2,1);
    }
  }
  @media screen and (max-width: 768px) {
    .card-container .background-card {
        height: 384px;
    }
    .card-container {
        max-width: 519px;
    }
  }
  @media screen and (max-width: 425px) {
    .card-container .background-card {
        height: 280px;
    }
  }
