.projects {
    width: 100%;
    padding: 7rem;
    background: rgb(248, 244, 255);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    z-index: 3
  }
  @media screen and (max-width: 1024px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
      padding: 5rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .projects {
      padding: 5rem 3rem;
    }
  }

  @media screen and (max-width: 425px) {
    .projects {
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem 3rem;
    }
  }
  
  