.projects {
    width: 100%;
    padding: 7rem;
    background: #d0d0d0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    z-index: 3
  }
  @media screen and (max-width: 1024px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
      padding: 5rem;

    }
    
  }
  
  @media screen and (max-width: 768px) {
    .projects {
      grid-template-columns: repeat(1, 1fr);
      padding: 7rem 8rem;
    }
  }

  @media screen and (max-width: 425px) {
    .projects {
      padding: 2rem;
    }
  }
  
  