.contact-form {
    width: 100%;
    padding: 2rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.identity {
    display: grid;
    flex-direction: column;
}

.btn-contact {
    width: 100%;
    color: #7F27FF;
    border: 1px solid #7F27FF;
}
.btn-contact:hover {
    width: 100%;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    background: #7F27FF;
}

input, .message {
    width: 100%;
    border: 1px solid #81818135;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .contact-form {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 425px) {
    .contact-form {
        padding: 1rem 1rem;
    }
}