@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Montserrat:wght@100;300;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

}

body {
  background: black;
}

h1, h2, h3, h4, p, a {
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 4rem;
  content: "";
  background: rgb(131,58,180);
  background: linear-gradient(52deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(248,252,69,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(131,58,180);
  background: linear-gradient(52deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(248,252,69,1) 100%);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn:hover {
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.btn.btn-light {
  background: transparent;
  color: #fff;
}
.projects {
  width: 100%;
  padding: 7rem 7rem;
  background: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  z-index: 3
}
.parcours{
  color: #fff;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.experience {
  display: flex;
  gap: 160px;
  align-items: center;
  height: auto;
}
.experience-2 {
  flex-direction: row-reverse;
}

.experience .image img{
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
  width: 295px;
  height: 295px;
}

.experience .content{
  height: 330px;
  padding: 50px;
}
.experience .content p{
  font-size: 1rem;
}

@media screen and (max-width: 1040px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

