@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Montserrat:wght@100;300;500;700&display=swap');


/* 
background: #eaeaea
color-primary(purple dark): #7F27FF
color-secondary(purple light): #9F70FD
color-background(orange light): #FDBF60
color-tertiary(orange dark): #FF8911
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

}

body {
  background: #eaeaea;
}

h1, h2, h3, h4, p, a {
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 4rem;
  content: "";
  background: #e0d723;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #e0d723;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn:hover {
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.btn.btn-light {
  background: transparent;
  color: #fff;
}
.section-about {
  position: relative;
  padding-top: 192px;
  background: #eaeaea;
}



@media screen and (max-width: 1024px) {
  .section-about {
    padding-top: 150px;
  }
}


@media screen and (max-width: 425px) {
  
  .section-about {
    padding-top: 100px;
  }
  p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}

