
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
/* .work::before {
    content: "";
    background-image: url("../../assets/images/image-projets.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */
.work-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
    position: absolute;
}

.work-container {
    width:80%;
    margin: auto;
    padding-bottom: 5rem;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.work-card {
    background: #1a1919;
    padding-bottom: 1.2rem;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.work-card img {
    width: 100%;
}

.work-title {
    color: #fff;
    padding: 1rem 0;
}
.work-content {
    padding: 40px;
}
.work-detail {
    display: flex;
    flex-direction: column;
}
.work-detail p, .work-detail li {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.work-links {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    gap: 40px;
}
.work-links a {
    width: 80%;
}

@media screen and (max-width: 740px) {
    .work-container {
        max-width: 90%;
        grid-template-columns: 1fr;
    }
}